.dashboard{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 80%;
    margin: 2rem auto 0;
    position: relative;
}

.dashboard-nav{
    max-width: 20%;
    min-width: 20%;
    background-color: #2c3034;
    height: 50vh;
    color: #ffff;
    padding: 3rem 0.5rem 0;
    border-radius: 5px;
    position: fixed;
    top: 4rem;
}

.dash-nav-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dash-nav-links a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid #eeee;
    padding: 4px 8px;
    border-radius: 5px;
}

.tables{
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 15px;
    gap: 1.5rem;
    margin-left: 28%;
}

.table{
    width: 100%;
}

.table-item{
    height: 60vh;
    overflow: auto;
}

.table h2{
    font-weight: 900;
    font-size: 24px;
}

.table p{
    margin-bottom: 0.5rem;
    color: #3da58a;
    font-weight: 700;
}

.true, .false{
    border: none;
    outline: none;
    width: 6rem;
    color: #fff;
    border-radius: 5px;
}

.true{
    background-color: #3e4396;
}

.false{
    background-color: #3da58a;
}